<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- Mars News -->
    <div class="row" id="mars-news">
      <div class="col-md-12">
        <h2 class="heading">Latest Mars News</h2>
        <h4>{{mars_info.news_title}}</h4>
        <h5>{{mars_info.news_p}}</h5>
      </div>
    </div>
    <div class="row" id="mars-features" style="padding-top: 30px">
      <div class="col-md-8 col-sm-6">
        <h2 class="heading">Featured Mars Image</h2>
        <img class="col-md-12 col-sm-6" src = {{mars_info.featured_image_url}} alt = "featured_image_url">
      </div>
      <div class="col-md-4 col-sm-6" style="border: 1px solid black">
        <h3 class="heading">Current Weather on Mars</h3>
        <h5>{{mars_info.mars_weather}}</h5>
      </div>
      <div class="col-md-4 col-sm-6">
        <h3 class="heading">Mars Facts</h3>
        {{mars_info.html_table | safe}}
      </div>

    </div>
    <div class="row" id="mars-hemisphere">
      <div class="col-md-12">
        <h2 style="text-align: center;">Mars Hemispheres</h2>
      </div>
      <div class="col-md-6 col-lg-3" style= "border: 1px solid grey; padding: 20px">
        <img class="col-md-12" src = {{mars_info.hemisphere_image_urls[0].image_url}} alt = "{{mars_info.hemisphere_image_urls[0].title}}">
        <h5 style="text-align: center;">{{mars_info.hemisphere_image_urls[0].title}}</h5>
      </div>
      <div class="col-md-6 col-lg-3" style= "border: 1px solid grey; padding: 20px">

        <img class="col-md-12" src = {{mars_info.hemisphere_image_urls[1].image_url}} alt = "{{mars_info.hemisphere_image_urls[1].title}}">
        <h5 style="text-align: center;">{{mars_info.hemisphere_image_urls[1].title}}</h5>
      </div>
      <div class="col-md-6 col-lg-3" style= "border: 1px solid grey; padding: 20px">

        <img class="col-md-12" src = {{mars_info.hemisphere_image_urls[2].image_url}} alt = "{{mars_info.hemisphere_image_urls[2].title}}">
        <h5 style="text-align: center;">{{mars_info.hemisphere_image_urls[2].title}}</h5>
      </div>
      <div class="col-md-6 col-lg-3" style= "border: 1px solid grey; padding: 20px">

        <img class="col-md-12" src = {{mars_info.hemisphere_image_urls[3].image_url}} alt = "{{mars_info.hemisphere_image_urls[3].title}}">
        <h5 style="text-align: center;">{{mars_info.hemisphere_image_urls[3].title}}</h5>
      </div>    
    </div>



  </div>
</body>

</html>

